*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: '#{$icomoon-font-family}';
  src: url('../#{$icomoon-font-path}/#{$icomoon-font-family}.eot?5jkrup');
  src:
    url('../#{$icomoon-font-path}/#{$icomoon-font-family}.eot?5jkrup#iefix')
      format('embedded-opentype'),
    url('../#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?5jkrup') format('truetype'),
    url('../#{$icomoon-font-path}/#{$icomoon-font-family}.woff?5jkrup') format('woff'),
    url('../#{$icomoon-font-path}/#{$icomoon-font-family}.svg?5jkrup##{$icomoon-font-family}')
      format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-briefcase {
  &:before {
    content: $icon-briefcase;
  }
}
.icon-user {
  &:before {
    content: $icon-user;
  }
}
.icon-blog {
  &:before {
    content: $icon-blog;
  }
}
.icon-house {
  &:before {
    content: $icon-house;
  }
}
.icon-computer {
  &:before {
    content: $icon-computer;
  }
}
