// Font and icon path
$icomoon-font-family: 'Habakuk-Beneke-Resume' !default;
$icomoon-font-path: 'src/assets/fonts' !default;

// Icon codes
$icon-computer-t: unquote('"\\e900"');
$icon-blog-t: unquote('"\\e905"');
$icon-house-t: unquote('"\\e906"');
$icon-user-t: unquote('"\\e907"');
$icon-user-s: unquote('"\\e908"');
$icon-blog-s: unquote('"\\e909"');
$icon-house-s: unquote('"\\e90a"');
$icon-briefcase: unquote('"\\e90d"');
$icon-computer-s: unquote('"\\e90b"');
$icon-briefcase1: unquote('"\\e90c"');
$icon-user: unquote('"\\e901"');
$icon-blog: unquote('"\\e902"');
$icon-house: unquote('"\\e903"');
$icon-computer: unquote('"\\e904"');

// Icon sizes
$icon-s: 18px;
$icon-m: 30px;

// Colors
$nav-color: red;
$header-width: 100%;

// Spacing and dimensions
$gap-size: 1.5rem;
$header-padding: 1rem;
