$icomoon-font-family: 'Habakuk-Beneke-Resume' !default;
$icomoon-font-path: 'fonts' !default;

$icon-briefcase: unquote('"\\e900"');
$icon-user: unquote('"\\e901"');
$icon-blog: unquote('"\\e902"');
$icon-house: unquote('"\\e903"');
$icon-computer: unquote('"\\e904"');

$icon-s: 18px;
$icon-m: 30px;
